name: Dart CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    # This tells GitHub to run all commands inside your specific folder
    defaults:
      run:
        working-directory: frontend2/fr2

    steps:
      - uses: actions/checkout@v4

      - uses: dart-lang/setup-dart@v1 # Using the v1 tag is cleaner than the commit hash

      - name: Install dependencies
        run: dart pub get

      - name: Analyze project source
        run: dart analyze

      - name: Run tests
        run: dart test
